
h1 {text-align: center;
    background-color: #303030; 
    color: #FFFFFF; 
    font-size: 5em; 
    margin: 0px;
}

img { 
    position: relative;
    display: inline-block;
    margin: 10px;
    height: auto;
}

nav {
    background-color: #303030;
    padding: 10px;
    margin: 0px;
    text-align: center;
    
}
nav a {
    color: #FFFFFF;
    font-size: 3em;
    margin: 10px;
}

body {
    background-color:#A9A9A9 ;
    font-size: 1.5em;
    margin: 30px;
}

 p, li, figcaption {
     /*font-family: sans-serif, "Times New Roman", Times, serif;*/
     font-family: 'Merriweather Sans', sans-serif;
     font-family: 'Noto Sans JP', sans-serif;
     font-size: 1.5em;
     color: #000000;
}

article {
    border: #FFFFFF; 
    border-style: solid; 
    overflow: hidden;
    
}

#skip-to-content {
    position: absolute; 
    left: -999px;  
    background-color: white;
    border: 1px solid gray;
    }
#skip-to-content:focus {position: absolute; left: 10px;}

@media only screen 
and (min-width: 992px) 
{
img { 
height: 600px;
width: 400px; }
}

@media only screen 
and (max-width: 768px) 
{
img { 
height: 600px;
 width: 400px; }
    }

